/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require selectize
 *= require selectize.default
  *= require selectize
 *= require selectize.bootstrap3
* *= import twitter/bootstrap
* *= import twitter/bootstrap-responsive
 *= require bootstrap-material-design
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .

*/

.selectize-control.single .selectize-input > div, .selectize-control.multi .selectize-input > div, .selectize-control.single .selectize-input.input-active > div, .selectize-control.multi .selectize-input.input-active > div, .selectize-control.single .selectize-input > .item, .selectize-control.multi .selectize-input > .item, .selectize-control.single .selectize-input.input-active > .item, .selectize-control.multi .selectize-input.input-active > .item {
    background-color: #00c5b7;
    border: 1px solid #009688;
    color: lightgray;
    padding-left: 5px;
}

.selectize-control.single .selectize-input > div.active, .selectize-control.multi .selectize-input > div.active, .selectize-control.single .selectize-input.input-active > div.active, .selectize-control.multi .selectize-input.input-active > div.active, .selectize-control.single .selectize-input > .item.active, .selectize-control.multi .selectize-input > .item.active, .selectize-control.single .selectize-input.input-active > .item.active, .selectize-control.multi .selectize-input.input-active > .item.active {
    color: black;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    padding-left: 5px;
}

.selectize-control.single .selectize-input > div:after, .selectize-control.multi .selectize-input > div:after, .selectize-control.single .selectize-input.input-active > div:after, .selectize-control.multi .selectize-input.input-active > div:after, .selectize-control.single .selectize-input > .item:after, .selectize-control.multi .selectize-input > .item:after, .selectize-control.single .selectize-input.input-active > .item:after, .selectize-control.multi .selectize-input.input-active > .item:after {
    content: ''
}
